- content_for(:head) do
  :javascript
    var year = new Date().getFullYear();
    var month = new Date().getMonth();
    var day = new Date().getDate();

    var eventData = {
    events : [
               {'id':1, 'start': new Date(year, month, day, 12), 'end': new Date(year, month, day, 13, 35),'title':'Lunch with Mike'},
               {'id':2, 'start': new Date(year, month, day, 13), 'end': new Date(year, month, day, 14, 45),'title':'Dev Meeting'},
               {'id':3, 'start': new Date(year, month, day, 13), 'end': new Date(year, month, day, 14, 45),'title':'Dev Meeting'},
               {'id':4, 'start': new Date(year, month, day, 12), 'end': new Date(year, month, day, 13, 35),'title':'Lunch with Mike'},
               {'id':5, 'start': new Date(year, month, day, 11), 'end': new Date(year, month, day, 14, 45),'title':'Dev Meeting'},
               {'id':6, 'start': new Date(year, month, day, 12), 'end': new Date(year, month, day, 13, 35),'title':'Lunch with Mike'},
               {'id':7, 'start': new Date(year, month, day, 13), 'end': new Date(year, month, day, 14, 45),'title':'Dev Meeting'},
               {'id':2, 'start': new Date(year, month, day, 11), 'end': new Date(year, month, day, 13, 35),'title':'Lunch with Mike'},
             ]
    };

    $(document).ready(function() {
      $('##{calendar_id}').weekCalendar({
        timeslotsPerHour: 6,
        timeslotHeight: 10,
        readonly: true,
        hourLine: false,
        businessHours: {start: 8, end: 18, limitDisplay: true},
        data: eventData,
        allowCalEventOverlap: true,
        overlapEventsSeparate: true,
        daysToShow: 1,
        showHeader: false,
        dateFormat: "",  // delete date in header
        longDays: ['', '', '', '', '', '', ''], // deletes day in header
        height: function($calendar) { // CHANGE HEIGHT HERE
          return 640 - $('h1').outerHeight(true);
        },
        eventRender : function(calEvent, $event) {
        },
        eventAfterRender: function(calEvent, element) {
          $(element).toggle(function () {
            $(element).addClass("highlightEvent");
            $("#timeslots").append('<input type="hidden" name="day[#{day}]" value="' + calEvent.id + '">');
          }, function() {
            $(element).removeClass("highlightEvent");
            $('#timeslots input[value="' + calEvent.id + '"]').remove();
          });
        },
        eventNew: function(calEvent, $event) {
        },
        eventDrop: function(calEvent, $event) {
        },
        eventResize: function(calEvent, $event) {
        },
        eventClick: function(calEvent, element, freeBusyManager, $calendar, DomEvent) {
        },
        eventMouseover: function(calEvent, $event) {
        },
        eventMouseout: function(calEvent, $event) {
        },
        noEvents: function() {
        }
      });

      function displayMessage(message) {
          $('#message').html(message).fadeIn();
      }

      $('').prependTo($('body'));
    });
  :css
    p.description {
      font-size: 0.8em;
      padding: 1em;
      position: absolute;
      top: 3.2em;
      margin-right: 400px;
    }

    #message {
      font-size: 0.7em;
      position: absolute;
      top: 1em;
      right: 1em;
      width: 350px;
      display: none;
      padding: 1em;
      background: #ffc;
      border: 1px solid #dda;
    }

    .highlightEvent {
      background-color: #FFFF88;
      color: #000;
    }

    ##{calendar_id} {
      /* CHANGE HIEGHT IN JS */
    }
%div{:id => calendar_id}
