.page-header
  %h1 Hello

Weclome to CalTeach STePs (<b>S</b>tudent <b>Te</b>eacher <b>P</b>airing<b>s</b>), a web app that allows to to assign preferences to your prefered field placements. To begin, click on the links the steps in the left column.
