.page-header
  %h3 How to Select Your Field Placements
Picking your desired field placements and ranking them based on preference is an easy three step process. Just complete all the steps listed on the left column.

.page-header
  %h3 Deadline
The last day you can pick your preferred field placement is 
%b=@semester.registration_deadline.due_date.strftime("%A, %B %-d, %Y")
