= render :partial => "week_calendar", :locals => {:calendar_id => "calendar", :height => 600, :width => 700, :timeslots => timeslots}       

= form_tag mentor_teacher_schedule_path, :id => 'schedule_form' do        
  = submit_tag "Save Schedule"
