
= form_tag mentor_teacher_schedule_path, :id => 'schedule_form' do
  -  Timeslot.weekdays.each do |day|
    %div{:id => day}
      = render :partial => "day_schedule", :locals => {:day => day.capitalize}       

  
  = submit_tag "Save Schedule"


  
  


