
= form_tag mentor_teacher_schedule_path do
  = render :partial => "week_calendar", :locals => { :width => 600, :height => 700, :calendar_id => :mentor_teacher_schedule}

  = submit_tag "Submit schedule"


