.pull-right
  = link_to "Edit schedule", edit_mentor_teacher_schedule_path(:semester_id => @semester.id), :class => "btn"
.page-header
  %h1 Schedule
  = render :partial => "week_calendar", :locals => {:timeslots => @timeslots, :read_only => @read_only}       


-# = form_tag mentor_teacher_schedule_path do
-#   = render :partial => "week_calendar", :locals => { :width => 800, :height => 900, :calendar_id => :mentor_teacher_schedule}

-#   = submit_tag "Submit schedule"


  

