= form_for @student, url: wizard_path do |f|
  #timeslots
  %section
    %h2 Friday
    = render :partial => "day_selection", :locals => { :day => :friday, :calendar_id => :friday, :timeslots => Timeslot.where(:day => Timeslot.day_index(:friday))}
  = submit_tag("Submit Timeslots")
  = link_to "skip this step", next_wizard_path 
