= form_for @student, url: wizard_path do |f|
  #timeslots
  %section
    %h2 Monday
    = render :partial => "day_selection", :locals => { :day => :monday, :calendar_id => :monday, :timeslots => @timeslots, :student => @student}
  = submit_tag("Submit Timeslots")
  = link_to "skip this step", next_wizard_path 
