= form_for @student, url: wizard_path do |f|
  #timeslots
  %section
    %h2 Tuesday
    = render :partial => "day_selection", :locals => { :day => :monday, :calendar_id => :monday, :timeslots => Timeslot.where(:day => Timeslot.day_index(:monday))}
  = submit_tag("Submit Timeslots")
  = link_to "skip this step", next_wizard_path 
