.page-header
  %h1 CalTeach STEPS
Welcome to CalTeach STEPS, an application that allows you view and rank your field placement preferences. To begin, by clicking the login link on the top right corner.
