.pull-right
  = link_to 'New District', new_district_path, :class => 'btn'

.page-header
  %h1 Districts

%table.table.table-hover
  %tr
    %th Name
    %th
    %th

  - @districts.each do |district|
    %tr
      %td= link_to district.name, district
      %td= link_to 'Edit', edit_district_path(district)
      %td= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' }

%br

