%p#notice= notice

.pull-right
  = link_to 'Edit', edit_district_path(@district), :class => 'btn'
  

.page-header
  %h1 
    = @district.name

%h2 Schools

%table.table
  - @district.schools.each do |s|
    %tr
      %td
        = link_to s.name, s


