%h2= link_to "Student Roster", students_path
%h2= link_to "Teacher Roster", #mentor_teachers_path
%h2= "Seach Student By Name:" 
<form>  <input type="text" class="search-query" placeholder="Search"> </form>
%h2= "Seach Teacher By Name:" 
<form>  <input type="text" class="search-query" placeholder="Search"> </form>