.sidebar.left.sidebar-nav
  .well
    %ul.nav.nav-list

      %li.nav-header
        Settings 
      %li
        %a{:href => settings_path} Settings

      %li.nav-header
        Profile 
      %li
        %a{:href => edit_user_path(current_user.id)} Edit Profile

      %li.nav-header
        Structure
      %li
        %a{:href => semesters_path} Semesters
      %li
        %a{:href => courses_path} Courses
      %li
        %a{:href => cal_courses_path} Cal Courses
      %li
        %a{:href => schools_path} Schools
      %li
        %a{:href => districts_path} Districts
      %li.nav-header
        Matching
      %li
        %a{:href => matching_path} Match students
      %li.nav-header
        Manage Users
      %li
        %a{:href => invites_path} Invite Users
      %li
        %a{:href => advisors_path} Advisors
      %li
        %a{:href => mentor_teachers_path} Mentor Teachers
      %li
        %a{:href => students_path} Students
      %li
        //%a{:href => cal_faculties_path} Cal Faculties
      
