.sidebar.left.sidebar-nav
  .well
    %ul.nav.nav-list
      // Cal Faculty
      %li.nav-header
        Faculty
      %li
        %a{:href => cal_faculty_my_students_path} My Students
      %li
        %a{:href => cal_faculty_my_mentor_teachers_path} My Mentor Teachers
      %li
        %a{:href => cal_faculty_my_cal_courses_path} My Cal Courses
