.sidebar.left.sidebar-nav
  .well
    %ul.nav.nav-list
      // Mentor Teachers
      %li.nav-header
        Mentor Teachers Menu
      - if current_user
        - if current_user.owner_type == "MentorTeacher"
          %li
            %a{:href => mentor_teacher_schedule_path} Edit Schedule
          %li
            %a{:href => edit_user_path(current_user.id)} Edit Profile
          %li
            %a{:href => mentor_teacher_my_students_path} My Students

