.sidebar.left.sidebar-nav
  .well
    %ul.nav.nav-list
      // Mentor Teachers
      %li.nav-header
        Mentor Teachers Menu
        %li
          %a{:href => mentor_teacher_schedule_path} Edit Schedule
        %li
          %a{:href => edit_user_path(current_user.id)} Edit Profile
