.page-header
  %h1 Hello
Weclome to CalTeach STEPS (Student Teacher Educational Pairings), a web app that allows to to assign preferences to your prefered field placements. To begin, click on the semeter you would like to pick in the navigation menu above.
